<div id="accordion">
    <div class="card">
        <div class="list-group-item bg-dark">
            <a class="card-link text-white" data-toggle="collapse" href="#collapseOne">
                <i class="fas fa-list"></i> Product Portfolio
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="list-group">
                <a th:each="c : ${cates}" th:href="@{|/product/list?cid=${c.id}|}" class="list-group-item list-group-item-action">[[${c.name}]]</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="list-group-item bg-dark">
            <a class="card-link text-white" data-toggle="collapse" href="#collapseTwo">
                <i class="fas fa-list-alt"></i> Supplier
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Apple</a>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="list-group-item bg-dark">
            <a class="card-link text-white" data-toggle="collapse" href="#collapseThree">
                <i class="fas fa-star"></i> Special Products
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="list-group">
                     <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Apple Watch Seri 8</a>
              <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Mac</a>
               <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">iPad</a>
                <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">Apple TV 4K</a>
                 <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">HomePod</a>
            </div>
        </div>
    </div>
</div>